<%- include("layouts/header", {title: title}); %>

<div class="body-info">


<h1 class="aboutTitle">Project Microbit Sensors</h1>

<h3>This webapplication is built to gather live data from the microbit/s and store it in the database. The microbit/s capture tempeterature/light level of room/rooms depending on the number of your microbits. You can add sensors and review the stored
information only as admin.</h3>
</div>
<br><br><br><br>
<div class="clock">
    <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=small&timezone=Europe%2FStockholm" width="100%" height="90" frameborder="0" seamless></iframe>
</div>
<%- include("layouts/footer"); %>
